* { font-family: 'oACYCZno';}
/*로고*/
header>#header-area>a>h1{
 background: url(https://cdn.discordapp.com/attachments/460145928850898945/551626262796566529/APEX.svg) no-repeat;
}
/*헤더*/
header { width: 100%; border-bottom: none;text-align: center;height: 50px;position: fixed;top: 0;left: 0;z-index: 3000;transition: all 0.2s ease-in-out;background: #C2293B;}
header.nav-up {transition: all 0.2s ease-in-out;top: 0px;height: 60px;background: #C2293B;border-radius: 0 0 50% 50%;}
#header-top-notice{background:#C2293B}
#header-top-notice strong.notice-badge{color:#C2293B;background:#fff}
#header-top-notice a{color:#fff}
.badge{background:#C2293B}
/*햄버거메뉴*/
header>#header-area>#header-bar-link .fa-bars:before{color:#fff}
nav#nav {transition: all 0.4s cubic-bezier(0.77, -0.04, 1, 1.01);background:#fff}
nav.hide {left: -300px !important;display: block !important;}
.fa-search:before{color:#fff}
nav#nav>.nav-header{background:#C2293B;border-top: 1px solid #fff;border-bottom: 1px solid #fff;}
nav#nav>.nav-menu-area a:hover{color:#C2293B}

/*드랍메뉴*/
.dropdown-menu{background-color:#C2293B}
.open>.dropdown-menu .name{color:#fff}
#latestDropdownMenu>li>a>span.delrow{color:#fff}
#playgroundDropdownMenu a{color:#fff}

/*게시판*/
#article-list>.article-list-row>.item>.list-header>span{background:#C2293B}
#article-list>.article-list-row>.item>a.list-title>small.comment-count{color:#C2293B}
#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span{color:#C2293B}

/*게시글*/
#article-reply-area > .header h5{color:#C2293B}
#lastc{color:#C2293B}
#lastc:focus, #lastc:hover{color:#C2293B}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged{color:#C2293B}

/*댓글*/
.fr-toolbar{border-top: 3px solid #C2293B}
.fr-toolbar.fr-top i:before{color:#C2293B}
.fr-toolbar .fr-command.fr-btn.fr-dropdown::after, .fr-popup .fr-command.fr-btn.fr-dropdown::after{border-top: 4px solid #C2293B;}


/*페이지 넘버*/
.pagination>li>a, .pagination>li>span{color:#C2293B}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{background:#C2293B;color:#fff}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #C2293B;border-color: #C2293B;}


/*버튼*/
.btn-primary:hover{background-color:#C2293B;border:none}/*글쓰기*/
.btn-primary{background:#C2293B;border:none}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{background-color:#C2293B;border-color:#C2293B}
.btn btn-outline-success vote-btn .fa-thumbs-up{color:#C2293B}
.btn-outline-primary .fa-thumbs-down{color:#C2293B}
#article-list #article-option-area{display:none}

/*공지사항*/
#article-list>.article-list-row.notice{background-color: #fff;border: 2px solid #C2293B;border-radius: 10px;margin-bottom: 5px;}

/*인포영역*/
#board-info{border:none;height:80px}
#board-info>a.board-right-menu{border:none;color:#C2293B}
#board-info>a.board-right-menu:hover{background:#fff;}
#board-info>h1{width:100%}
#board-info>h1>a{color:#C2293B;}


/*상단인원*/
/* #board-info #viewers-area .fa-user:before{
     color: rgba(10,59,84,0);
    content: url(https://static-cdn.jtvnw.net/badges/v1/9533d98f-2688-4fcd-8e04-b8bbd88f1e3a/1);
} */
#board-info #viewers-area #viewers:before{
content: "에펙인";
cursor: text;
}
#board-info #viewers-area #viewers:after {
    content: "명 파밍중";
    cursor: text;
}
/*r검색영역*/
header > #header-search-bar #header-search-input{border-color:#C2293B}
.fa-arrow-left:before{color:#fff}

/*게시판 텝메뉴*/
#article-list #article-list-category>a{border-radius:0 0 50% 50%;width:auto;margin:0 5px  5px 0;border:2px solid #C2293B;background:#fff;border-top:none}
#article-list #article-list-category{background:#fff;border-top: 2px solid #C2293B;}
#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover{border-color:#ffcfcb;transition:all 0.5s}
.fa-home:before{color:#C2293B}



/*키프레임*/
.fa-heart:before{display:inline-block;transition:all 0.3s;animation: heat 1s infinite;color:#C2293B}
@keyframes heat{

    0%{
       transform: scale(1);
}
50%{
       transform: scale(1.32);
}
100%{
       transform: scale(1);
}

    }
#article-neighbor-list{display:none}