* {
    font-family: 'oACYCZno';
}

/*바디*/
html {
    height: auto !important;
}

body {
    background: #fff;
    /*animation: snow 20s linear infinite;
    background-image: url('https://kbc2459.github.io/Custom/1.png'), url("https://kbc2459.github.io/Custom/2.png"), url("https://kbc2459.github.io/Custom/3.png");*/
}

html,
body {}

/*로고*/
header .container .row .col-xs-4 img {
    display: none
}

header .row > div:nth-child(1) > a {
    display: block;
    width: 200px;
    height: 50px;
    background: url(https://kbc2459.github.io/Custom/tgdkong.svg) no-repeat;
    background-size: contain;
}

/*헤더바*/
header #header-bar > .row {
    border: none;
    border-bottom: 2px solid #ff4343;
}

header #header-bar #header-top-notice strong.notice-badge {
    color: #ff4343;
    border: 1px solid #ff4343;
    background: #fff;
}

header #header-bar a.dropdown-toggle {
    color: #ff4343;
}
header #header-bar #header-top-notice a {
    color: #ff4343
}

header-top-notice a {
    color: #ff4343
}
header #header-bar #header-menu-left{border:none}
header #header-bar #header-menu-right{border:none}
.dropdown-menu .divider{background:#ff4343}
.label label-default{color:#ff4343 !improtant}

/*검색영역*/
header #right-search-form > input[type=text] {
    border: none;
    border-bottom: 1px solid #ff4343;
    color: #ff4343;
}

header #right-search-form > #right-search-btn {
    color: #ff4343;
}

/*드랍메뉴*/
.dropdown-menu {
    background: rgba(255,255,255,0.8);
    font-size: 13px;
    
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color: transparent;}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
    color: #ff4343;
}

#favoriteDropdownMenu > li > a > span.name {
    color: #ff4343
}

.label-default {
    background: transparent
}

#playgroundDropdownMenu a {
    color: #ff4343
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    font-weight: bold;
    color: #ff4343;
    border-right: 2px solid #ff4343;
    border-left: 2px solid #ff4343;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover span {
    color: #ff4343 !important;
    font-weight: bold;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover .fa-remove:before,
.fa-close:before,
.fa-times:before {
    color: #ff4343 !important;
}

#latestDropdownMenu .name {
    color: #ff4343;
}
#latestDropdownMenu>li>a>span.delrow:hover{background: transparent}
.dropdown-menu > li > a {
    color: #ff4343;
}

.dropdown-menu-right > li > a:hover {
    font-weight: normal;
}


/*메뉴*/
#main #main-menu{border-top: 2px solid #ff4343 ;border-bottom: 2px solid #ff4343}
#main .menu-wrapper > .header {
    background: transparent;
    color: #ff4343;
}

#main .menu-wrapper > a > em {
    color: #ff4343;
}

#main .menu-wrapper > a > i.fa.fa-square {
    color: #ff4343;
}

#main .menu-wrapper {
    border: none;
}

#main .menu-wrapper > a:hover {
    color: #ff4343;
}

#main .menu-wrapper .spacer {
    background: transparent;
}

/*인포영역*/
#board-info {
    height: auto;
    box-shadow: #ff4343 0px 0px 2px 0px;
}
#board-info #viewers-area, #board-info #score-area{color: #ff4343;}

#board-info #board-info-profile-img {
    width: 100px;
    border-radius: 50%;
    background-size: contain;
    border: none;
    content: url(https://kbc2459.github.io/Custom/da.gif);
    height: 100px;
}

#board-info #board-info-profile-img:hover {
    border-radius: 15px 15px 15px 15px;
    transition: all 0.5s
}

#board-info .pull-right {
    margin-right: 20px;
    position: relative;
    top: -7px;
    transition: all 0.5s
}
#board-info h1{border: none}
#board-info h1 > a {
    color: #ff4343;
    font-weight: bold
}

#board-info #board-info-bottom a {
    color: #ff4343;
}

/*게시판*/
#article-list #article-option-area > #article-option-area-toggle-btn {
    display: none
}

#article-list > .article-list-row > .item > .list-header > span {
    background-color: #ff4343;
}

/*추천수*/
#article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: #ff4343;
}

/*댓글수*/
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color: #ff4343
}

/*게시판닉*/
#article-list #article-list-category {
    border-color: #ff4343
}

#article-content-wrapper > .header {
    border-top: 0;
    border-bottom: 3px solid  #f38164;
    background:#ffffff;
}

#main #main-content > div.frame {
    border: none
}

/*인기글*/
#article-list > .article-list-row {
    border-right: none
}

#article-list > .article-list-row:hover {}



/*페이지 넘버*/
.pagination > li > a,
.pagination > li > span {
    color: #534847
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background: #ff4343;
    color: #ff4343
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #534847;
    border-color: #534847;
}


/*버튼*/
.btn-primary:hover {
    background-color: #f6b495
}
.btn-primary.focus, .btn-primary:focus{
    color: #fff;
    background-color: #534847;
    border-color: #534847;
}

/*글쓰기*/
.btn-primary {
    background: #f37164;
    border: none
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: #a78882;
    border-color: #a78882
}


/*게시글*/
#article-reply-area > .header h5 {
    color: #f38164;

}

#article-info{
    width: 100%;
    padding: 1em 1em 0.5em;
    position: relative;
    border: 5px solid #f38164;
    margin-bottom: 10px;
    
}
#article-content-wrapper{
    padding: 0;
    border: 3px solid #f38164;
}

/*댓글*/
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
    color: #f38164
}

.fr-toolbar {
    border-top: 3px solid #f38164
}

.fr-toolbar.fr-top i:before {
    color: #f38164
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
    border-top: 4px solid #f38164;
}

.reply-menu a {
    color: #f38164
}

.reply-menu a:hover {
    color: #f38164
}

#lastc {
    color: #534847
}

#lastc:focus,
#lastc:hover {
    color: #534847
}


/*푸터*/
footer a {
    color: #534847
}

footer a:hover {
    color: #7c7574
}

/*스크롤*/
#movetotop img {
    display: none
}

#movetotop {
    display: inline-block;
    opacity: 1;
    background: url(https://cdn.discordapp.com/attachments/460145928850898945/542419700290813953/--1.png);
    width: 80px;
    height: 80px;
    background-size: contain;
}


/*게시판 텝메뉴*/
#article-list{
    background: #ffffff;
}
#article-list #article-list-category > a {
    width: auto;
    margin: 0 5px 5px 0;
    background: #fff;
    border-top: none;
    position: relative;
    top: 3px;
    margin-left:5px;
}

#article-list #article-list-category {
    background: transparent;
    border: none;
    margin-bottom: 10px;
    animation: tap 2s infinite;
}

#article-list #article-list-category > a.active,
#article-list #article-list-category > a:hover {
    transition: all 0.5s;
    top: -5px;
    color: #ff4343 !important;
    border-bottom: 2px solid #ff4343;
    transform: scale(1.15);
}

.fa-home:before {
    color: #ff4343;
}

/*공지사항*/
#article-list > .article-list-row.notice {
    background-color: #fff;
    border: 1px solid #ff4343;
    margin-bottom: 5px;
}

/*인기글*/
#article-list > .article-list-row.hot {
    background-color: #fff;
    border: 1px solid #ffd4d0;
    margin-bottom: 5px;
}

#article-list .fa-star:before {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url(https://cdn.discordapp.com/attachments/460145928850898945/543482128696868919/--1.png) no-repeat;
    background-size: contain;
    content: "";
    position: relative;
    transition: all 0.3s;
    animation: mari 1s infinite;
}

/*상단인원*/
#board-info #viewers-area {
    color: #ffffff
}

#board-info #viewers-area .fa-user:before {
    color: rgba(10, 59, 84, 0);
    content: url(https://static-cdn.jtvnw.net/badges/v1/9533d98f-2688-4fcd-8e04-b8bbd88f1e3a/1);
}

#board-info #viewers-area #viewers:before {
    content: "콩크리트";
    cursor: text;
    color: #ffffff;
}

#board-info #viewers-area #viewers:after {
    content: "명 콩줍는중";
    cursor: text;
}

.badge {
    background-color: #534847
}

/*키프레임*/
small.favo i.fa.fa-heart:before {
    display: inline-block;
    transition: all 0.3s;
    animation: heat 1s infinite;
    color: #f38364
}

@keyframes heat {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.32);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes mari {

    0% {
        top: 0;
    }

    25% {
        top: -2px
    }

    50% {
        top: 0px
    }

    75% {
        top: 2px
    }

    100% {
        top: 0px
    }
}

@keyframes da {
    0% {
        left: 0px;
         border-color: #f37264;
    }

    50% {

        left: -454px;
        border-color: #f9c5be;
    }

    100% {

        left: 0px;
        border-color: #f37264;
    }
}


/*마우스 포인터*/
* {
    cursor: url(https://cdn.discordapp.com/attachments/460145928850898945/551101255687208989/mari.png) 4 5, auto !important;
}

#aw0 {
    cursor: url(https://cdn.discordapp.com/attachments/460145928850898945/551101255687208989/mari.png) 4 5, auto !important;
}

/*방송시작*/
#board-info h1 > a.badge.badge-live::after {
    font-size: 12px;
    content: "사장출근";
}

/*게시글 호버*/
#article-list .article-list-row:hover{
    transform: scale(1.025);
    box-shadow: #ff4343 0px 0px 12px 0px;
    transition: all 0.35s;
}
#article-list div.article-list-row.notice:hover {
    transform: scale(1.025);
    box-shadow: #ff4343 0px 0px 12px 0px;
    transition: all 0.35s;
}

/*게시글 밑줄*/
#article-list > .article-list-row > .item > .list-checkbox,
#article-list > .article-list-row > .item > .list-header,
#article-list > .article-list-row > .item > .list-category,
#article-list > .article-list-row > .item > .list-title,
#article-list > .article-list-row > .item > .list-blocked,
#article-list > .article-list-row > .item > .list-time {
    border: none;
}

/*스트리머메뉴*/
#favoriteDropdownMenu > li > a > span.label.label-default {
    margin-right: 1px
}

header:before {
    display: block;
    width: 100%;
    height: 78px;
    background: url('https://kbc2459.github.io/Custom/da.jpg') no-repeat #ff8f84;
    background-position: center center;
    position: relative;
    top: 0;
    padding: 0;
    content: " ";
    margin-bottom: 15px;
}

header {
    padding: 0 0 0.4em 0;
}

/*버튼 추가 css*/
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fe4736;
    border-color: #fe4736;
}


@keyframes snow {

    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }

}
@keyframes hover {

    0% {
       background:#f37064
    }
    25%{
        background:#f3a064
    }
    50% {
        background:#fac7c3
    }
    75%{
        background:#f3a064
    }
    100% {
        background:#f37064
    }

}
@keyframes tap {
    0%{
        border-image: linear-gradient(to left,#f37064, #f3a064,#fac7c3);
    }
    50%{
        border-image: linear-gradient(to left,#fac7c3, #f3a064,#f37064);
    }
    100%{
        border-image: linear-gradient(to left,#f37064, #f3a064,#fac7c3);
    }
}
#article-neighbor-list{
    border:2px solid #f38164
}
